@import "../../Assets/Fonts/Fonts.scss";

.main {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: flex-end;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
  }

  &__container {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 10rem;
    margin-bottom: 10em;
    margin-left: 6em;
    font-family: $font-roboto;
    color: white;

    h2 {
      font-size: 100px;
      text-align: center;
    }

    &__description {
      display: flex;

      &__left {
        h2 {
          font-size: 40px;
          margin-bottom: 0;
        }
      }

      &__right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: 20px;

        h3 {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}
